<!-- 
  Updated: BaseLayout has been simplified by moving the hero and wave to a separate component
  Updated: Reduced padding for better mobile experience
  Updated: Reduced spacing between logo and content
-->
---
import '../styles/global.css';

interface Props { title?: string }
const { title = 'Mindfulina' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/images/logo-sunshine.svg" />
    <title>{title}</title>
  </head>
  <body class="font-sans">
    <!-- Header -->
    <header class="text-center py-4">
      <div class="flex justify-center items-center flex-col">
        <img src="/images/logo.svg" alt="Mindfulina Logo" class="h-60 w-auto" />
      </div>
    </header>

    <!-- Main slot -->
    <main class="max-w-3xl mx-auto pt-2 p-4">
      <slot />
    </main>

    <!-- Footer -->
    <footer class="text-center text-sm py-10 text-gray-500">
      © {new Date().getFullYear()} Mindfulina
    </footer>
  </body>
</html> 